* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
button,
input {
  font-family: -apple-system, Ubuntu, Arial, sans-serif;
}

*,
li {
  list-style: none;
}

.animate-before {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  opacity: 0;
  pointer-events: none;
}

.animate-after {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  pointer-events: unset;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 28px 15px 24px;
}

header img {
  max-width: 160px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  padding: 16px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #211922;
  font-weight: 700;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 24px;
}

header nav .buttons button {
  margin-left: 24px;
  font-size: 16px;
  font-weight: 700;
  padding: 11px 12px;
  border-radius: 24px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  cursor: pointer;
}

header nav .buttons .login {
  color: #fff;
  background: #e60023;
}

header nav .buttons .signup {
  margin-left: 16px;
  color: #211922;
}

.heading {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.heading .text {
  font-size: 60px;
  font-weight: 600;
}

.heading .wrapper {
  position: relative;
}

.heading .wrapper .offset {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.heading .wrapper .offset:nth-child(1) .text {
  color: #0076d3;
}

.heading .wrapper .offset:nth-child(2) .text {
  color: #618c7b;
}

.heading .wrapper .offset:nth-child(3) .text {
  color: #c28b00;
}

.heading .wrapper .offset:nth-child(4) .text {
  color: #407a57;
}

.heading .wrapper .text {
  white-space: nowrap;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.heading .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.heading .slide .slide-item {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #e1e1e1;
}

.heading .slide .slide-item:nth-child(1).active {
  background: #0076d3;
}

.heading .slide .slide-item:nth-child(2).active {
  background: #618c7b;
}

.heading .slide .slide-item:nth-child(3).active {
  background: #c28b00;
}

.heading .slide .slide-item:nth-child(4).active {
  background: #407a57;
}

.heading .slide .slide-item:not(:first-child) {
  margin-left: 10px;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (252px)[7];
      grid-template-columns: repeat(7, 252px);
  max-height: 0px;
  visibility: hidden;
  pointer-events: none;
}

.grid.active {
  max-height: unset;
  visibility: visible;
  pointer-events: auto;
}

.column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.column:nth-child(1) {
  margin-top: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.column:nth-child(2) {
  margin-top: 100px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.column:nth-child(3) {
  margin-top: 200px;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.column:nth-child(4) {
  margin-top: 300px;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.column:nth-child(5) {
  margin-top: 200px;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.column:nth-child(6) {
  margin-top: 100px;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.column:nth-child(7) {
  margin-top: 0px;
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.item {
  width: 236px;
  height: 350px;
  background: #e60023;
  border-radius: 10px;
}

.item:not(first-child) {
  margin-bottom: 10px;
}

.floating-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  pointer-events: none;
}

.floating-button-container .floating-button {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  bottom: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #407a57;
  -webkit-animation: jump 1.5s linear infinite;
          animation: jump 1.5s linear infinite;
}

.floating-button-container .floating-button span {
  display: block;
  width: 14px;
  height: 3px;
  background: #fff;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
}

.floating-button-container .floating-button span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translateX(1px) translateY(5px);
          transform: rotate(-45deg) translateX(1px) translateY(5px);
}

.floating-button-container .floating-button span:nth-child(2) {
  -webkit-transform: rotate(45deg) translateX(-1px) translateY(5px);
          transform: rotate(45deg) translateX(-1px) translateY(5px);
}

@-webkit-keyframes jump {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes jump {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}
/*# sourceMappingURL=styles.css.map */